/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 
 #banner{
  background-image:url('nbaBanner.jpg');
  background-repeat:no-repeat;
  background-position:center top;
  padding: 100px 100px 100px;http://localhost:3000/assets/nbaBanner.jpg;
  font-family:"Times New Roman", Serif;
  font-size:4em;
  vertical-align:text-top;
  color: #000000;
  text-align: center;

  img {
    float: center;
  }
}




#columns {
  background: red;
  color: #FFFFFF;

 #main {
    margin-left: 17em;
    padding: 1em;
    background: black;
  }

//#START:side
  #side {
    float: left;
    padding: 2em 2em;
    width: 13em;
    background: yellow;

/* START_HIGHLIGHT */
    form, div {
      display: inline;
    }  
 
    input {
      font-size: small;
    }

    #cart {
      font-size: smaller;
      color:     yellow;

      table {
        border-top:    1px dotted #595;
        border-bottom: 1px dotted #595;
        margin-bottom: 10px;
      }
    }

/* END_HIGHLIGHT */
    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: #000000;
          font-size: small;
        }
      }
    }
  }
//#END:side
} #end columns

#nav {
  float: right;
}

#nav {
  background-color: #0000FF	;
  padding: 0 0.7em;
  white-space: nowrap;
}

#nav ul {
  margin: 0;
  padding: 0;
}

#nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
  display: inline;
  float: left;
}

#nav ul li a {
  width: 15em;
  padding: 0.5em 1em;
  text-decoration: none;
}

#nav ul li a:visited {
  display:block;
width:120px;
font-weight:bold;
color:#FFFFFF;
background-color:#98bf21;
text-align:center;
padding:4px;
text-decoration:none;
font-weight:bold;
}

#nav ul li a:hover {
  background-color:black;
  }
  
   #draggable { width: 170px;
 height: 40px;
 padding: 0.5em;
 background-image:url('incrediline.jpg');
  background-repeat:no-repeat;
  background-position:center;
 }
.backToTop {
    display: none;
    width: 30px;
    line-height: 1.2;
    padding: 8px 0;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    text-align: center;
    position: fixed;
    _position: absolute;
    right: 10px;
    bottom: 100px;
    cursor: pointer;
    opacity: .6;
    filter: Alpha(opacity=60);
}
label {    display: inline-block;    width: 5em;  }
